* {margin: 0px; padding:0px;}


header.home-header {
	background-size: cover;
	height:400px;
	width:100%;
	background-color: #355166;

	.content {
		padding-top:10%;
		color:#fff;
		text-align: center;
	}
}

.navbar-home {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;

	a.navbar-brand {
		color: #fff;
	}


	#navbar li > a.nav-link {
		color: #fff;
		
		&:hover, &:focus {
			background-color: transparent;
			color: #137AB5;
		}
	}
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	input {
		padding:20px 15px;
		font-size:16px;
	}

	input[type="text"] {
				margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;

	}
	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

table span.info {
	cursor: pointer;
}