// For clearing floats like a boss h5bp.com/q
@mixin clear {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

@mixin card-default {
	background-color:#fff;
	border: 1px solid rgba(0,0,0,0.07);
	//border-color: #ddd;
	margin-bottom: 1em;
	@include border-radius(5px);
}