h1 {
	font-size: $baseFontSize * 2.5; // 35px
	line-height: $baselineHeight * 2.5;
}  
h2 {
	font-size: floor($baseFontSize * 2.2); // 30px
	line-height: $baselineHeight * 2.2;
}
h3 {
	font-size: ceil($baseFontSize * 1.7); // 24px
	line-height: $baselineHeight * 1.7;

}
h4 {
	font-size: floor($baseFontSize * 1.3); //18px
	line-height: $baselineHeight * 1.3;
	}
h5 {
	font-size: $baseFontSize; // 14px
	line-height: $baselineHeight;
} 



// baseLineHeight * fontsize