//Colors
$brand-primary: #242e35;
$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;
$navbar-default-bg: $brand-primary;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #137AB5;