// Base Steup
$baseFontSize: 14px;
$baseFontFamily: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baselineHeight: 18px;

// Grid Variables
$totalColumns: 12;
$gutterWidth: 1em;
$columnWidth: 4em;
$containerPadding: 1em;

// Color Theme
$bodyColor: #f0f0f0;

$mainColor: #2E0927;
$firstColor: #D90000;
$secondColor: #FF2D00;
$thirdColor: #FF8C00;
$fourthColor: #04756F;