$baseFontSize: 14px;

// Typo
h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}

// Grid Variables
$totalColumns: 12;
$gutterWidth: 1em;
$columnWidth: 4em;
$containerPadding: 1em;

// Color Theme
$mainColor: #2E0927	;
$firstColor: #D90000;
$secondColor: #FF2D00;
$thirdColor: #FF8C00;
$fourthColor: #04756F;