@import "compass";
@import "compass/reset";


@import "variables";
@import "mixins";
@import "grid";


* {margin: 0px; padding:0px;}

body {
	background: #b6b6b6;
	font-size: $baseFontSize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// The Container that centers the grid and adds padding on either side.
.container {
	// max-width: $rowWidth + (2 * $containerPadding);
	padding: {
		left: $containerPadding;
		right: $containerPadding;
	}
	margin: 0 auto;
}

header {
	padding-bottom: 20px;

	a.brand {
		color:#fff;
		text-decoration: none;

		h2 {
			display:block;
			font-size:1em;
		}
	}

	nav{
		background-color:$mainColor;
		display: block;
		width:100%;
		float:right;
		color: #fff;

		ul.topNav {
			float:right;

			li {
				float:left;
				padding: 5px;

				a.sectionLink {
					padding: 8px;
					color: #fff;
					text-decoration: none;
					display:block;
					background-color: $secondColor;
					@include border-radius(3px);

					&:hover {
						background-color: darken($secondColor, 10%);
					}
				}
			}
		}
	}
}

.btn {
	background-color: $secondColor;
	display:inline-block;
	box-sizing: content-box;
	padding:5px;

	&.round{
		@include border-radius(50%);

		img {
			width: 20px;
			height: 20px;
			color: #fff;
			background-size: 24px;
			display: block;
			-webkit-user-drag: none;
		}
	}
}



#login_form {
	width: 300px;
	background-color: #f0f0f0;
	border:1px solid #fff;
	margin: 250px auto 0;
	padding:1em;
	@include border-radius(3px, 3px);
}

fieldset {
	width: 300px;
	
	border:1px solid #fff;
	margin: 0 auto 0;
	padding:1em;
	@include border-radius(3px, 3px);

	& legend {
		font-weight: bold;
		padding: 10px;
	}
}


input[type=text], input[type=password] {
	width: 280px;
	padding: 10px;
	margin-bottom: 10px;
	@include border-radius(3px, 3px);
	border:0;	
}

input[type=submit], form a {
	border: none;
	margin-right:1em;
	padding:6px;
	text-decoration: none;
	font-size:12px;
	@include border-radius(3px, 3px);
	cursor: pointer;
	background: #348075;
	color:#fff;

	&:hover {
		background: #287368;
	}
}

.error {
	color:#393939;
	font-size: 15px;
}

fieldset {
	width: 300px;
	margin-bottom: 2em;
	display:block;
}



table {
	$table-color: #7a98c6;
	@include table-scaffolding;
	@include inner-table-borders(1px, darken($table-color, 40%));
	@include outer-table-borders(2px);
	@include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
}


form label, form input {display: block;}