@import "compass";
@import "compass/reset";


@import "variables";
@import "mixins";
@import "grid";
@import "typo";
@import "elements";


* {margin: 0px; padding:0px;}

body {
	background: $bodyColor;
	font-size: $baseFontSize;
	font-family: $baseFontFamily;
	line-height: $baselineHeight;
}

div.card {
	@include card-default;

	.card-content {
		padding: $baseFontSize;
	}
}

// The Container that centers the grid and adds padding on either side.
.container {
	// max-width: $rowWidth + (2 * $containerPadding);
	padding: {
		left: $containerPadding;
		right: $containerPadding;
	}
	margin: 0 auto;
}

header {
	padding-bottom: 20px;

	a.brand {
		color:#000;
		text-decoration: none;

		h2 {
			display:block;
			font-size:1em;
		}
	}

	nav{
		background-color:#fff;
		display: block;
		width:100%;
		float:right;
		color: #000;
		border-bottom: 1px solid #ddd;

		ul.topNav {
			float:right;

			li {
				float:left;
				padding: 5px;

				a.sectionLink {
					padding: 8px;
					color: #fff;					
				}
			}

		}
	}
}


#login_form {
	width: 300px;
	background-color: #f0f0f0;
	border:1px solid #fff;
	margin: 250px auto 0;
	padding:1em;
	@include border-radius($baseRadius);
}

fieldset {
	width: 300px;
	
	border:1px solid #fff;
	margin: 0 auto 0;
	padding:1em;
	@include border-radius($baseRadius);

	& legend {
		font-weight: bold;
		padding: 10px;
	}
}


input[type=text], input[type=password] {
	width: 280px;
	padding: 10px;
	margin-bottom: 10px;
	@include border-radius($baseRadius);
	border:0;	
}

input[type=submit], form a {
	border: none;
	margin-right:1em;
	padding:6px;
	text-decoration: none;
	font-size:12px;
	@include border-radius($baseRadius);
	cursor: pointer;
	background: #348075;
	color:#fff;

	&:hover {
		background: #287368;
	}
}

.error {
	color:#393939;
	font-size: 15px;
}

fieldset {
	width: 300px;
	margin-bottom: 2em;
	display:block;
}




form label, form input {display: block;}